.Facet {
  border: $facet-border-size $facet-border-style $facet-border-color;
  border-radius: $facet-border-radius;
  margin: $facet-container-margin;

  &.has-selected-items {
    border-color: $selected-border-color;
  }

  &-Header {
    background-color: $facet-header-background-color;
    color: $facet-header-text-color;
    cursor: pointer;
    padding: $facet-header-padding;
    user-select: none;

    &.is-open {
      border-bottom: 1px solid #d8ecd8;
    }

    &-arrow {
      float: right;
      margin-top: 1px;
      stroke: $facet-header-arrow-color;
      stroke-width: $facet-header-arrow-width;
    }
  }

  &.has-selected-items &-Header {
    background-color: $selected-header-background-color;
    color: $selected-header-text-color;
  }

  &-Body {
    padding: 10px;
  }
}
