$default-color: #4ea8dd !default;
$selected-color: #65ab65 !default;

// BaseFacet
$facet-border-color: $default-color !default;
$facet-border-radius: 2px;
$facet-border-size: 2px !default;
$facet-border-style: solid !default;
$facet-has-selected-border-color: $selected-color !default;

// FacetHeader
$facet-header-background-color: $default-color !default;
$facet-header-text-color: #fff !default;
$facet-header-padding: .25em !default;
$facet-has-selected-header-background-color: $selected-color !default;

// FacetHeaderArrow
$facet-header-arrow-color: $facet-header-text-color !default;
$facet-header-arrow-width: 2 !default;

@import "Base/style.scss";
@import "List/style.scss";
@import "FacetRangeLimitDate/style.scss";
@import "FacetRangeLimitDate/rc-slider";
